@using Microsoft.AspNetCore.Components.Web
@namespace Frontend.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Frontend.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    
    <script>
        // https://stackoverflow.com/a/63611641/1542187
        window.localDate = () => {
            var ldCurrentDate = new Date();
            return ldCurrentDate.getFullYear() +
                "-" + String(ldCurrentDate.getMonth() + 1).padStart(2, '0') +
                "-" + String(ldCurrentDate.getDate()).padStart(2, '0') +
                "T" +
                String(ldCurrentDate.getHours()).padStart(2, '0') +
                ":" + String(ldCurrentDate.getMinutes()).padStart(2, '0') +
                ":" + String(ldCurrentDate.getSeconds()).padStart(2, '0');
        };
        window.timeZoneOffset = () => {
            return new Date().getTimezoneOffset() / 60;
        };
    </script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
